$main-color: #edf7f3;
$main-color-dark: #628276;

html {
  font-size: 4.445vmin;
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(30%);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

.fade-in {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-timing-function: ease;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  font-family: "Nanum Myeongjo", "Nanum Gothic", serif;
  background-color: #eee;
}

button[type="button"] {
  cursor: pointer;
  outline: none;
}

.blind {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.bg-color-red {
  background-color: #fd2c02;
}
.bg-color-blue-1 {
  background-color: #3255df;
}
.bg-color-blue-2 {
  background-color: #738efa;
}
.bg-color-green-1 {
  background-color: #4aaf53;
}
.bg-color-yellow {
  background-color: #f5be0c;
}
.bg-color-green-2 {
  background-color: #048b70;
}
.bg-color-pink {
  background-color: #fc6fb8;
}

main {
  width: 100%;
  max-width: 720px;
  text-align: center;
  color: #333;
  background-color: #fff;
  background-repeat: repeat;
  overflow: hidden;
}
.section-title {
  display: inline-block;
  width: 8rem;
  padding-bottom: 0.3rem;
  margin-top: 7rem;
  margin-bottom: 1.3rem;
  font-family: "Nanum Myeongjo";
  font-weight: 600;
}
/* 소개 */
.info {
  position: relative;
  max-height: 50rem;
  font-family: "Nanum Myeongjo";
}
.info .dday {
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 3rem;
  z-index: 10;
}
#dday {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  color: white;
  background-color: $main-color-dark;
  opacity: 0.7;
}

.info img {
  display: block;
  width: 100%;
}
.info .img_visual {
  min-height: 18rem;
}
.info .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24rem;
  overflow: hidden;
}
.info .tit {
  padding: 3rem 0;
  letter-spacing: 0.2rem;
  font-size: .9rem;
}
.info .tit em {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
}
.info .tit em:last-child {
  margin-left: 0.3rem;
}
.info address {
  margin-top: 1rem;
}

/* 인사말 */
.greeting {
  font-family: "Nanum Myeongjo";
}
.greeting .message {
  margin-top: 3rem;
  padding: 8rem 3.2rem 4rem 3.2rem;
  text-align: left;
  background-image: url("../assets/images/divider.png");
  background-size: 12rem;
  background-repeat: no-repeat;
  background-position: top center;
}
.greeting .message ul {
  margin-bottom: 2rem;
}
.greeting .message li {
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0;
  line-height: 0.8rem;
  border-bottom: none;
}
.greeting .message p {
  color: #666;
  line-height: 1.5rem;
}
.greeting .invitation {
  padding: 0rem 3.2rem 4rem 3.2rem;
  text-align: left;
}
.greeting .invitation li {
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0;
  line-height: 0.8rem;
  border-bottom: none;
}
.greeting .invitation p {
  color: #666;
  line-height: 1.5rem;
}
.greeting .family {
  margin-top: 2rem;
}
.message-small {
  font-size: 0.7rem;
}
/*
.greeting .message p::first-letter {
  font-weight: bold;
  font-size: 1.5rem;
  color: #555;
}
*/
.greeting .family p {
  position: relative;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
}
.greeting .family em {
  font-size: 1rem;
}
.greeting .family em:first-child::after {
  content: ".";
  display: inline-block;
  position: relative;
  font-size: 0.813rem;
  font-weight: bold;
  top: -0.3rem;
  text-align: center;
  padding: 0 0.3rem;
}
.greeting .family strong {
  font-size: 1.1rem;
}


/* 달력 */
.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  margin-top: 5rem;
  padding-top : 1.5rem;
  padding-bottom : 1rem;
}
.calendar .contents {
  width: 90vw;
  box-sizing: border-box;
  margin: 1rem;
  padding: 0.5rem;
}
.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0 1rem 0;
  color: $main-color-dark;
}
.calendar .header .tit {
  margin-left: 1rem;
}
.calendar .header .tit em {
  font-size: 1.5rem;
  font-weight: 900;
}
.calendar .header time {
  font-size: 0.8rem;
  margin-right: 1rem;
}
.calendar .contents .row {
  display: flex;
  justify-content: space-around;
}
.calendar .contents .row time {
  width: calc(100% / 7);
  padding: 0.5rem 0.3rem;
  margin: 0.3rem;
  font-size: .9rem;
}
.calendar .contents .row time:first-child {
  color: #ff6666;
}
.calendar .contents .row .active {
  background-color: #fff;
  border-radius: 50%;
}
.calendar .contents + .break {
  display: flex;
  flex-basis: 100%;
  height: 0;
}
.calendar .gcal {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #b99951;
}

.calendar a {
  padding: 1rem 4rem;
  text-decoration: none;
  background-color: white;
  color: $main-color-dark;
  font-size: 0.8rem;
  border-radius: 2rem;
}

.covid-noti {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdc6f; 
  padding-bottom: 1rem;  
  font-size: 0.7rem;
  color : #4e3e0a;
}
/* 갤러리 */
.gallery .title > .ico {
  display: inline-block;
  width: 1rem;
  margin: 0 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
/*
.gallery .tit > .husband {
  background-image: url(../images/icon/husband.png);
  background-position: left center;
}
.gallery .tit > .wife {
  background-image: url(../images/icon/wife.png);
  background-position: left center;
}
.gallery .tit:after {
  display: block;
  content: "";
  background-image: url(../images/icon/wife.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
*/
.gallery .container {
  display: block;
  position: relative;
  height: 32rem;
  width: 100%;
}
/*
.gallery .container a {
  text-decoration: none;
}
*/
.gallery .container a {
  position: absolute;
  top: 0;
  left: 0.5rem;
  width: 7rem;
  height: 5.1rem;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddd;
}
.gallery .container a.item_1 {
  background-image: url("../assets/images/1.jpg");
  height: 10.5rem;
}
.gallery .container a.item_2 {
  background-image: url("../assets/images/2.jpg");
  left: 7.75rem;
  width: 14.25rem;
  height: 10.5rem;
}
.gallery .container a.item_3 {
  background-image: url("../assets/images/3.jpg");
  top: 10.75rem;
}
.gallery .container a.item_4 {
  background-image: url("../assets/images/4.jpg");
  top: 10.75rem;
  left: 7.75rem;
}
.gallery .container a.item_5 {
  background-image: url("../assets/images/5.jpg");
  top: 10.75rem;
  left: 15rem;
}
.gallery .container a.item_6 {
  background-image: url("../assets/images/6.jpg");
  background-position: center 4%;
  top: 16.1rem;
}
.gallery .container a.item_7 {
  background-image: url("../assets/images/7.jpg");
  background-position: center 30%;
  top: 16.1rem;
  left: 7.75rem;
}
.gallery .container a.item_8 {
  background-image: url("../assets/images/8.jpg");
  background-position: center 40%;
  top: 16.1rem;
  left: 15rem;
  right: 0.5rem;
}
.gallery .container a.item_9 {
  background-image: url("../assets/images/9.jpg");
  top: 21.5rem;
  width: 14.25rem;
  height: 10.5rem;
}
.gallery .container a.item_10 {
  background-image: url("../assets/images/10.jpg");
  height: 10.5rem;
  left: 15rem;
  top: 21.5rem;
}
.gallery .container img {
  width: 100%;
  visibility: hidden;
}
.gallery .description {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #bbb;
}

/* 영상 */
.video {
  margin-top: 7rem;
  padding: 0 1rem;
}

/* 오시는길 */
.location .header {
  padding: 1.7rem 1rem 1rem 1rem;
}
.location .header .addr_fst {
  font-size: 1rem;
}
.location .header .addr_lst {
  font-size: 0.8rem;
  color: #666;
  margin: 1rem 0 0.8rem 0;
}
.location .header .tel {
  text-decoration: none;
  font-size: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0.2rem 1rem;
  color: #666;
}
.location .third_party {
  padding: 0.5rem 0;
}
.location .third_party ul {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}
.location .third_party button {
  width: 4rem;
  height: 5.5rem;
  font-size: 0.8rem;
  border: 0;
  background-color: transparent;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  white-space: nowrap;
}
/*
.location .third_party .kakaonavi {
  background-image: url("../../src/images/app/ico_kakaonavi.png");
}
.location .third_party .kakaomap {
  background-image: url("../../src/images/app/ico_kakaomap.png");
}
.location .third_party .navermap {
  background-image: url("../../src/images/app/ico_navermap.png");
}
.location .third_party .tmap {
  background-image: url("../../src/images/app/ico_tmap.png");
}
*/
.location .third_party span {
  position: relative;
  top: 2.2rem;
}

.location .flower{
  color: #888;
  font-size: 0.6rem; 
  padding-top: 1rem;
}

/* 안내사항 */
.guide {
  margin: 1rem 2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  text-align: left;
}
.guide ul {
  padding: 1rem 1.7rem;
}
.guide ul li {
  padding: 1rem 0;
}
.guide dl dt {
  margin-bottom: 0.7rem;
}
.guide dl dd {
  position: relative;
  font-size: 0.8rem;
  color: #888;
  margin-top: 0.5rem;
  line-height: 1.1rem;
}
.guide .bus ul {
  margin-top: 0.5rem;
  padding: 0;
}
.guide .bus li {
  display: flex;
  margin-top: 0.3rem;
  padding: 0;
  line-height: 0.8rem;
  border-bottom: none;
  font-size: 0.8rem;
}
.guide .bus .tit {
  height: 0.78rem;
  text-align: center;
  white-space: nowrap;
  margin-right: 0.3rem;
  color: #fff;
  border-radius: 0.2rem;
}
.guide .bus span {
  padding: 0.2rem;
  color: #888;
}
.guide .bus span:not(.tit) {
  line-height: 1rem;
  padding: 0.08rem 0 0 0;
}
.guide .bank {
  border-bottom: none;
}
.guide .bank dd {
  margin-top: 0.3rem;
}
.guide .bank a {
  text-decoration: none;
  color: #888;
}
.guide .bank span:after {
  position: relative;
  border-right: 1px solid #bbb;
  top: -0.1rem;
  content: "";
  margin: 0 0.2rem 0 0.5rem;
  font-size: 0.5rem;
}
.guide .noti {
  color: #f20000;
}

/* 공유하기 */
.share {
  background-color: $main-color-dark;
}
.share ul {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}
.share button {
  font-size: 0.7rem;
  border: 0;
  color: #fff;
  background-color: transparent;
  line-height: 0.8rem;
  white-space: nowrap;
}
.share span {
  display: inline-block;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-family: 'Nanum Myeongjo';
}
.share button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  padding: 1.5rem 0;
  border: 0;
  background-color: transparent;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
.share .kakaotalk {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-image: url("../assets/images/share.png");
}
/*
.share .facebook {
  background-image: url("../../src/images/app/ico_facebook.png");
}
.share .bride {
  background-image: url("../../src/images/app/ico_bride.png");
}
.share .qrcode {
  background-image: url("../../src/images/app/mask.png");
}
*/

/* DeskTop */
@media all and (min-width: 720px) {
  html {
    font-size: 2rem;
  }
  main {
    box-shadow: 0rem 0rem 0.5rem #999;
  }
}

/* Contacts */
.contacts .tit {
  display: inline-block;
  width: 8rem;
  border-bottom: solid 1px #a7a6a6;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  font-family: "Nanum Myeongjo";
}

.contacts .contents {
  display: flex;
  flex-direction: column;
}

.contacts .contents > a {
  margin: 0 0.5rem 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: #333;
  font-size: 0.75rem;
  text-decoration: none;
  font-family: 'Nanum Myeongjo';
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #a7a6a6;
}

/* Accordion styles */
.tabs {
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 0.5rem 1rem 0.5rem;
  border: solid 1px #a7a6a6;
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $main-color-dark;
    font-weight: bold;
    font-size: 0.75rem;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($main-color-dark, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $main-color-dark;
    background: white;
    transition: all .35s;
    display: grid;
    // grid-template-rows: 1fr 1fr 1fr;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $main-color-dark;
    cursor: pointer;
    &:hover {
      background: darken($main-color-dark, 10%);
    }
  }
}
// :checked
input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab-bride input[type=checkbox]:checked {
  + .tab-label {
    background: darken($main-color-dark, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 15rem;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
}
.tab-groom input[type=checkbox]:checked {
  + .tab-label {
    background: darken($main-color-dark, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 24rem;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
}
.tab-content .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}
.tab-content .label {
  text-align: left;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1.5rem 0 1rem 0;
  color: rgb(70,70,70);
}
.tab-content .row .content {
  flex: 7 1 0;
  font-size: 0.8rem;
  text-align: left;
}
.tab-content .row > button {
  height: 100%;
}
.tab-content .row .button {
  outline: none;
  display: flex;
  flex: 3 1 0;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.3rem;
  text-decoration: none;
  background-color: #fff;
  border-radius: 0.2rem;
  border: 1px solid #ddd;
  color: #000;
  width: 100%;
  font-family: "Nanum Myeongjo", "Nanum Gothic", serif;
}

.tab-content .row .button > span {
  font-size: 0.7rem;
  word-break: keep-all;
}

.tab-content .row .button svg {
  height: 0.7rem;
  vertical-align: middle;
}

.tab-content .row .button:hover {
  transition: 0.5s;
  background-color: $main-color-dark;
  color: #fff;
}

.tab-content .row .button[disabled]:hover {
  color: #000;
  background-color: #fff;
  cursor: not-allowed;
}


/* Comments */
.guestbook .tit {
  display: inline-block;
  width: 8rem;
  border-bottom: solid 1px #a7a6a6;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  font-family: "Nanum Myeongjo";
}
.add-comment {
  padding: 1rem;
}
.comment-input{
  padding-bottom: 0.5rem;
}
.comment-input input{
  width: 100%;
  font-size: 0.8rem;
  border: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 0.5rem 0;
  font-family: "Nanum Myeongjo", "Nanum Gothic", serif;
}
.button-row button {
  width: 50%;
  font-size: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem; 
  background-color: transparent;
  color: #000;
  padding: 0.3rem 0;
  margin-top: 0.5rem;
}
.button-row button:hover {
  transition: 0.5s;
  background-color: $main-color-dark;
  color: #fff;
}
#comments {
  padding: 1rem;
}
.comment-table{
  width: 100%;
}
.comment-list{
  display: flex;
  margin-bottom: 0.5rem;
}
.comment-user{
  width:30%;
  text-align: center; 
  font-size: 0.8rem;
  color: gray;
  word-break : break-all;
  padding-left: 0.5rem;
}
.comment-text{
  width: 70%;
  text-align: left;
  font-size: 0.8rem;
  word-break : break-all; 
  padding-left: 0.5rem;
  padding-right: 2.5rem;
}

.comment-more {
  padding-bottom: 5rem;
  padding-top: 0.5rem;
}

.comment-more button {
  width: 100%;
  font-size: 0.65rem;
  border: 0;
  background-color: transparent;
  color: #000;
  padding: 0.4rem;
  margin-top: 0.5rem;
}
.comment-more button:hover {
  background-color: #ddd;
}


.comment-entry {
  border-bottom: 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  padding: 0.7rem 1rem;
  position: relative;
  line-break: anywhere;
  word-break: keep-all;
}
.comment-entry .row {
  display: flex;
  justify-content: space-between;
  line-height: 1.4rem;
  margin-bottom: 8px;
}
.comment-entry .row .name {
  font-size: 0.8rem;
  text-align: left;
}
.comment-entry .date {
  color: #aaa;
  font-size: 0.6rem;
}
.comment-entry .message {
  font-size: 0.8rem;
  line-height: 1.4rem;
  margin-bottom: 8px;
  text-align: left;
}
#pull-comments {
  font-family: "Nanum Myeongjo", "Nanum Gothic", serif;
  font-size: 0.8rem;
}

#push-comment {
  font-family: "Nanum Myeongjo", "Nanum Gothic", serif;
}
/*
input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-outline-dark{
  border-color: #212529 !important;
  width: 50%;
  background: white !important;
  font-size: 0.5rem;
}

.btn-outline-dark:hover{
  color: white;
  background: black !important;
}

.btn-outline-dark:focus {
  box-shadow: none !important;
}

.btn-outline-success{
  text-decoration: underline;
  background: white !important;
  color : #b99951 !important;
  font-size: 0.5rem;
}
.btn-outline-success:hover{
  color: white !important;
  background: #b99951 !important;
}
.btn-outline-success:focus{
  box-shadow: none !important; 
}
*/